# System files
.DS_Store
**/.DS_Store


# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.*

# IDEs / Editors
.vscode/
.idea/
*.swp

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars

# Misc
*.zip
*.bak

